*{
	text-align: center;
	color: green;
	font-family: Tahoma;
}
body{
	background-image: url("https://thumbs.dreamstime.com/b/binary-matrix-03-552368.jpg");
}
p{
	background-color: black;
}
h1{
	background-color: black;
}